<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
	{% block bodyTitle %}
	{% endblock %}
	{% if current_user.is_authenticated %}
		hi{{current_user.fullname}}!
		<a href="{{ url_for('auth.logout') }}">Login</a>
	{% endif %}
  <ul>
    {% if not current_user.if_authenticated %}
		<li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.wtf_signUp_s1') }}">Sign up</a></li>
		{% endif %}
  </ul>
  <div class="container">
      {% block body %}
      {% endblock %}
  </div>

</body>
</html>
